@page "/tasks"

<PageTitle>Tasks!</PageTitle>

<h3>Tasks</h3>
<p>Tâches à faire:</p>
<ul>
    @foreach (var item in TaskList)
    {
        @if (!item.IsCompleted)
        {
            <li class="green">@item.Id - @item.Title <input type="checkbox" @bind="@item.IsCompleted" /> <button @onclick="(() => DeleteTask(item))">❌</button></li>
        }
    }
</ul>

<p>Tâches à Finie:</p>
<ul>
    @foreach (var item in TaskList)
    {
        @if (item.IsCompleted)
        {
            <li class="red">@item.Id - @item.Title <input type="checkbox" @bind="@item.IsCompleted" /></li>
        }
    }
</ul>